[submodule "circle-libsdl2"]
	path = circle-libsdl2
	url = https://github.com/Xalior/circle-libsdl2.git
[submodule "mame"]
	path = mame
	url = https://github.com/Xalior/mame.git
	branch = rapi-circle
[submodule "rapi-bootloader"]
	path = rapi-bootloader
	url = https://github.com/Xalior/rapi-bootloader.git
